
<nav class="navbar">
  <div class="navbar-left">
    <div class="logo-circle">VOM</div>
  </div>

  <div class="hamburger" onclick="toggleMenu()">
    <i class="fas fa-bars"></i>
  </div>

  <div class="navbar-right" id="nav-links">
    <a href="/">Home</a>
    <a href="/admin/register">Admin</a>
    <a href="/student/register">Student</a>
    <a href="/student/dashboard">dashboard</a>
    <!-- <a href="/enquiry">Enquiry</a>
    <a href="/about">About Us</a>
    <a href="/contact">Contact Us</a> -->
  </div>
</nav>
