
<section class="library-home">
  <div class="welcome-text">
    <h1>📚 Welcome to VOM Library</h1>
    <a href="/admin/logout" class="btn btn-danger mt-3">🔓 Logout</a>

    <p>Your smart way to manage student attendance, records, and library access efficiently.</p>
  </div>

  <div class="action-cards">
    <a href="/student/register" class="home-card">
      <i class="fas fa-user-plus"></i>
      <h4>Add Student</h4>
    </a>
    <a href="/admin/mark-attendance" class="home-card">
      <i class="fas fa-clipboard-check"></i>
      <h4>Mark Attendance</h4>
    </a>

    <a href="/admin/today-attendance" class="home-card">
      <i class="fas fa-clipboard-check"></i>
      <h4>Today Attendance</h4>
    </a>

    <a href="/admin/monthly-attendance" class="home-card">
      <i class="fas fa-clipboard-check"></i>
      <h4>Monthly Attendance</h4>
    </a>


    <a href="/admin/students" class="home-card">
      <i class="fas fa-users"></i>
      <h4>View Students</h4>
    </a>
    <a href="/admin/check-dues" class="home-card">
      <i class="fas fa-money-check-alt"></i>
      <h4>Check Dues</h4>
    </a>
    <a href="/admin/enquiries" class="home-card">
      <i class="fas fa-question-circle"></i>
      <h4>View Enquiry</h4>
    </a>
  </div>
</section>
